/* ==========================================================================
   Author's custom styles
   ========================================================================== */
#body{
      height: 100%;
      float: left;
      width: 50%;
}
#curve_chart{
      height: 350px;
      width: 38%;
}
#centerforset{

      height: 350px;
      width: 38%;
}
#upload_zone{
      height: 600px;
      width: 38%;
      
}
#imagePreview {
      width: 100%;
      height: 192px;
      position: center;
      background-size: 100% 100%;
  }

#h1{
      font-size: 20px;
    text-align: center;
    margin: 20px 0 20px;
}

/*.myButton {*/
      /*background-color: white;*/
      /*color: #4CAF50;*/
      /*border: 2px solid #4CAF50;*/
      /*border-radius: 8px;*/
      /*display:inline-block;*/
      /*cursor:pointer;*/
      /*font-family:Verdana;*/
      /*font-size:17px;*/
      /*padding:16px 50px;*/
      /*text-decoration:none;*/
      /*margin-top: 1em;*/
      /*-webkit-transition-duration: 0.4s; */
      /*transition-duration: 0.4s;*/
/*}*/

/*.myButton:hover {*/
      /*background-color: #4CAF50; */
      /*color: white;*/
/*}*/

/*.myButton:active {*/
      /*position:relative;*/
      /*top:1px;*/
/*}*/

